

$Lato: 'Lato', sans-serif;

$blue: #004AF2;
$dark: #2C2C2C;
$gray: #585858;
$lightOrange: #FF903E;
$darkOrange: #FF2C2C;

$L-laptop: 1200px;
$laptop: 991px;
$tablet: 768px;
$mobile: 568px;
$sm-mobile: 420px;